*.iml
*.pyc
*.swp
android/.DS_Store
android/.classpath
android/.externalNativeBuild
android/.gradle/
android/.idea/
android/.metadata
android/.packages
android/.project
android/.settings/
android/.idea/libraries
android/.idea/workspace.xml
android/.pydevproject
android/build
android/captures
android/local.properties
android/bin/
android/build/
android/gen/
android/out/artifacts
android/target/
*.DS_Store
.idea/
.gradle/
